<html>
<head>
    <title>Title</title>
<!--    <script src="/js/jquery-2.1.1.min.js"></script>-->
<!--    &lt;!&ndash;bootstrap-treeview&ndash;&gt;-->
<!--    <script type="text/javascript" src="/js/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>-->
<!--    <link rel="stylesheet" type="text/css" href="/js/bootstrap-treeview/dist/bootstrap-treeview.min.css"/>-->
<!--    &lt;!&ndash;    bootstrap&ndash;&gt;-->
<!--    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>-->
<!--    <link rel="stylesheet" type="text/css" href="/js/bootstrap/css/bootstrap.min.css"/>-->
<!--    &lt;!&ndash;bootstrap-dialog&ndash;&gt;-->
<!--    <script type="text/javascript" src="/js/bootstrap-dialog/dist/js/bootstrap-dialog.min.js"></script>-->
<!--    <link rel="stylesheet" type="text/css" href="/js/bootstrap-dialog/dist/css/bootstrap-dialog.css"/>-->

<!--    &lt;!&ndash; ztree&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="/js/zTreev3/css/zTreeStyle/zTreeStyle.css"/>-->
<!--    <script type="text/javascript" src="/js/zTreev3/js/jquery.ztree.all.js"></script>-->
    <!--bootstrap-toastr-->
    <script type="text/javascript" src="/js/toastr/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" src="js/toastr/toastr.css"/>
</head>
<body>

    <form id="addForm" class="form-inline" role="form">
<!--    <input type="hidden" name="id" value="${m.id}">-->
        <div class="form-group">
            <label for="nodeNames">课程章节</label>
            <input type="text" id="nodeNames" placeholder="请输入节点名称" name="text" lass="form-control">
        </div><br>

        <div class="form-group">
            <label for="nodeUrl">课程小节</label>
            <input type="text" id="nodeText" placeholder="请输入节点路径" name="text" class="form-control">
        </div>


        <div class="form-group">
            <label>视频地址</label>
            <input type="text" id="nodeUrl" placeholder="请输入节点路径" name="url" class="form-control">
        </div>
    </form>
</body>
</html>
